.mat-container-header {
    margin: -20px -1rem .75rem -2rem;
    padding: 23px 2rem;
    background: #3f51b5;
    color: rgba(255,255,255,.87);
}


.md-topnav-background {    
    background-color:aliceblue;
}

.md-topnav-left {    
    text-align: left;
}

.md-topnav-right {    
    text-align: right;
}

.md-topnav-float-right {    
    float: right;
}