<div fxLayout.gt-sm="row" fxLayout="column">

    <div fxFlex.gt-sm fxFlex.lt-md="none" class="tab-container">
        <md-tab-group>
            <md-tab label="Scheduler">
                <tn-scheduler-list></tn-scheduler-list>
            </md-tab>
            <md-tab label="Underground">
                <h1>Under construction</h1>
                <p>...</p>
            </md-tab>
            <md-tab label="Summary">
                <h1>Some tab content</h1>
                <p>...</p>
            </md-tab>
            <md-tab label="Users">
                <h1>Under construction</h1>
                <p>...</p>
            </md-tab>
        </md-tab-group>
    </div>

    <div fxFlex fxFlex.lt-md="none" class="tab-container">
        <div fxLayout="column">
            <tn-editor></tn-editor>
            <md-tab-group>
                <md-tab label="Path">
                    <tn-path></tn-path>
                </md-tab>
                <md-tab label="Details">
                    <tn-details></tn-details>
                </md-tab>
                <md-tab label="Jeopardy">
                    <tn-jeopardy></tn-jeopardy>
                </md-tab>
                <md-tab label="Notes">
                    <tn-notes></tn-notes>
                </md-tab>
                <md-tab label="Schedule History">
                    <tn-scheduleHistory></tn-scheduleHistory>
                </md-tab>
                <md-tab label="Job Details">
                    <tn-jobDetails></tn-jobDetails>
                </md-tab>
            </md-tab-group>
        </div>
    </div>

</div>